.case-study {
  background-color: white;
  border-left: 8px solid var(--mainColor);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);
  display: flex;
  min-height: 534px;
  margin-bottom: 64px;

  & a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 78px 114px 98px;
    text-decoration: none;
    width: 100%;
  }

  & h3 {
    color: var(--black);
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
    margin: 0;
  }

  & p {
    color: var(--mainColor);
    font-size: 46px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;

    & img {
      margin-left: 46px;
      vertical-align: middle;
    }
  }
}
