.case-study {
  background-color: white;
  border-left: 4px solid var(--mainColor);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  min-height: 267px;
  margin-bottom: 32px;

  & a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 39px 57px 49px;
    text-decoration: none;
    width: 100%;
  }

  & h3 {
    color: var(--black);
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
  }

  & p {
    color: var(--mainColor);
    font-size: 23px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;

    & img {
      margin-left: 23px;
      vertical-align: middle;
    }
  }
}
