@font-face {
  font-family: "Segoe UI";
  font-weight: "Normal";
  src: url("/fonts/segoeui-normal.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: url("/fonts/segoeuib-negreta.ttf") format("truetype");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 600;
  src: url("/fonts/segoeuisb-semi-bold.ttf") format("truetype");
}

body {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  color: var(--mainColor);
  font-size: 55px;
  font-weight: 600;
  margin-top: 0;
}
