footer {
  background-color: var(--footer);
  height: 220px;

  & .container {
    -ms-align-items: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  & .power-bi {
    height: 118px;
    width: 115px;
  }

  & .microsoft {
    width: 352px;
  }
}
