footer {
  background-color: var(--footer);
  height: 110px;

  & .container {
    -ms-align-items: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  & .power-bi {
    height: 59px;
    width: 57px;
  }

  & .microsoft {
    width: 176px;
  }
}
