@import '_normalize';
@import '_variables';
@import '_font';
@import '_header';
@import '_footer';
@import '_data-stories';
@import '_case-studies';
@import '_modaal';

.container {
  max-width: 84vw;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;

  & .data-stories-container {
    width: 100%;
  }

  & .case-studies-container {
    min-width: 28%;
    margin-left: 6.5%;
  }
}

.btn {
  background: none;
  border: 8px solid #FCB713;
  color: #FCB713;
  font-size: 46px;
  font-weight: 700;
  padding: 46px 58px;
  text-transform: uppercase;
  transition: background-color 250ms, color 250ms;

  & svg {
    margin-left: 17px;
  }

  & path {
    transition: stroke 250ms;
  }

  &:hover {
    background-color: #FCB713;
    color: white;

    & path {
      stroke: white;
    }
  }
}

main {
  background-color: #F9F9F9;
  background-image: url('../images/graph.svg');
  background-repeat: no-repeat;
  background-position: 90% 100%;
  margin-top: -2px;
  padding-bottom: 256px;
}

iframe {
  min-height: 75vh;
}

.modaal-close {
  position: absolute;
  right: 0;
  top: -65px;
}
