{{ define "main" }}
  <main role="main">
    <div class="container content">
      <div class="data-stories-container">
        <h2>Data Stories</h2>
  	    <section class="data-stories">
          {{ range (where .Data.Pages "Type" "stories") -}}
            {{ .Render "list-item-expanded" }}
          {{ end }}
        </section>
      </div>
      <div class="case-studies-container">
        <h2>Case studies</h2>
        <section class="case-studies">
          {{ range (where .Data.Pages "Type" "casestudies") -}}
            {{ .Render "list-item-expanded" }}
          {{ end }}
        </section>
      </div>
    </div>
  </main>
{{ end }}
